.progressbar{

    width: fit-content;
    position: absolute;
    bottom:49px;
    right:50%;
      left:50%;
      transform:translate(-50%,-50%);
  
    &_text{
      width: max-content;
      text-align: center;
      font: italic normal normal 16px/19px Poppins;
      letter-spacing: 0px;
      color: white;
      margin-bottom: 5px !important;
    }
  
    &_container{
      width: 318px;
      height: 10px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 4px;
      overflow: hidden;
      &_bar{
        width: 318px;
        height: 10px;
        transition: width 0.1s ease-in-out;
        background-color: #ebebeb;
        border-radius: 4px;
        overflow: hidden;
      }
    }
  
  }