.overrideDeco {
    padding: 0;
    height: 140px;
    position: relative;

    & .VisionMenu {
        &-headerImage {
            position: absolute;
            z-index: 1;
            width: 490px;
            left: 47px;
            top: 0
        }

        &-boutique {
            display: none;
        }


    }
}


.DecoInterieur {
    position: relative;

    & .VisionMenu {
        height: 630px !important;

        // &-listContainer:not(.main) {
        //     max-height: 440px !important;
        //     min-height: 440px !important;
        //     width: 437px !important;
        //     margin-left: 35px !important;
        // }

        &-itemList {
            gap: 20px;
        }
    }
}

.DecoInterieur-Title {
    position: absolute;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10.5px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    left: 115px;
    top: 108px;
    z-index: 2;

    color: #FFFFFF;
}