@use "../../variables" as *;

.LoadingBar {
	width: 100vw;
	display: grid;
	place-items: center;
	position: absolute;
	padding: 20px;

	z-index: 999;


	.row {
		display: flex;
		flex-direction: row;

		.icon {
			padding-top: 20px;
			padding-right: 10px;
		
			img {
				height: 31.9px;
				width: 31.9px;
			}
		}

		.col {
			display: flex;
			flex-direction: column;
			width: 341.6px;

			.identity {
				color: #FFF;
				font-family: Montserrat;
				font-size: 17.6px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				text-transform: uppercase;
				padding-bottom: 5px;

				span {
					color: #FFF;
					font-family: Montserrat;
					font-size: 17.6px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
			}
			
			.bar {
				width: 100%;
				height: 31.2px;
				overflow: hidden;
				position: relative;

				border-radius: 0px 9.6px 2.4px 0px;
				background: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.20) 100%);

				.fill {
					height: 100%;
					width: 0;
					transition: width .2s ease-in-out;

					background-image: linear-gradient(90deg, var(--loadingbar-color) 0%, rgba(var(--loadingbar-color-hex), 0.50) 100%);
					
					.value {
						position: absolute;
						top: 50%;
						right: 20px;
						transform: translateY(-50%);
						text-transform: uppercase;

						color: #FFF;
						text-align: center;
						font-family: Montserrat;
						font-size: 15px;
						font-style: normal;
						line-height: normal;
						font-weight: 300;

						&.bold {
							font-weight: 500;
							margin: 0!important;
							
						}
					}
				}
			
			}

			.subtext {
				text-transform: uppercase;
				color: #FFF;
				font-family: Montserrat;
				font-size: 12.8px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;

				// center the subtext verticaly
				display: flex;
				justify-content: start;
				align-items: center;
				

				.rank {
					padding-left: 8px;
					text-align: center;
					font-family: Montserrat;
					font-size: 32px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					background: linear-gradient(180deg, #FBC504 0%, #FB9D04 100%);
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}

	}
}